<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>WEB試験問題</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="questions-page">
    <header>
        <h1>WEB試験問題</h1>



        <div id="progressContainer">
            <div id="progressBar"></div>
            <div class="progress-mark" style="left: 0; transform: translateX(20%);">0%</div>
            <div class="progress-mark" style="left: 50%;">50%</div>
            <div class="progress-mark" style="left: 100%; transform: translateX(-120%);">100%</div>

        <div id="result"></div>

        </div>
    </header>
    <div id="answerRate"></div>

    <div id="quiz-container"></div>

    <!-- カスタム確認ダイアログの構造 -->
<div id="customConfirm" class="modal">
    <div class="modal-content">
        <p>解答を終了してもよろしいですか？</p>
        <button id="confirmOk">OK</button>
        <button id="confirmCancel">キャンセル</button>
    </div>
</div>

    <button id="submit-button">解答を終了</button>

    <script src="/static/js/quiz.js"></script>
    <button id="backToTop" onclick="scrollToTop()">TOPへ</button>
</body>
</html>
